<div class="detail_box">
	<div class="detail_common detail_content">
		<h2 class="mod_h1">基本信息</h2>
		<div class="basic_message">
			<ul class="message_box">
				<li>
					<em>运动类型：</em>
					<span class="sport_type">{{match.matchTypeName}}</span>
				</li>
				<li>
					<em>所在地区：</em>
					<span class="sport_position">{{match.showArea}}</span>
				</li>
				<br />
				<li>
					<em>报名时间：</em>
					<span class="apply_time">{{match.showSignTime}} </span>
				</li>
				<li>
					<em>比赛时间：</em>
					<span class="game_time">{{match.showMatchTime}} </span>
				</li>
			</ul>
		</div>
	</div>
	<div class="detail_common detail_content">
		<h2 class="mod_h1">参赛信息</h2>
		<div class="basic_message">
			<ul class="message_box">
				<li>
					<em>参赛者要求：</em>
					<span class="sport_ask">{{match.joinRequireName}}</span>
				</li>
        <li>
					<em>{{match.joinRequire==20004||match.joinRequire==20002?'参赛队伍数量':'参赛者数量'}}：</em>
					<span class="sport_ask">{{match.joinNumber}}{{match.joinRequire==20004||match.joinRequire==20002?'队':'人'}}</span>
				</li>
        <li>
					<em>&nbsp;</em>
					<span class="sport_ask">&nbsp;</span>
				</li>
				<li>
					<em>赛制类型：</em>
					<span class="sport_type">{{match.matchFormatName}}</span>
				</li>
        <li>
					<em>&nbsp;</em>
					<span class="sport_ask">&nbsp;</span>
				</li>
        <li>
					<em>&nbsp;</em>
					<span class="sport_ask">&nbsp;</span>
				</li>
				<li>
					<em>报名费用：</em>
					<span class="apply_cost" style="display:inline-block;vertical-align: top;width: 206px;">{{match.showSignCost}} </span>
				</li>
				<li>
					<em>联系人：</em>
					<span class="apply_cost">{{match.linkMan}} </span>
				</li>
				<li>
					<em>联系方式：</em>
					<span class="apply_cost">{{match.contactWay}} </span>
				</li>
			</ul>
		</div>
	</div>
	<div class="detail_common">
		<h2 class="mod_h1">主办方信息</h2>
		<div class="basic_message">
			<div class="direct_box">
				<label class="unit_label">主办单位：</label>
				<ul class="unit_box">
					{{each matchExt.matchSponsors as item index}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
			<div class="direct_box">
				<label class="unit_label">承办单位：</label>
				<ul class="unit_box">
					{{each matchExt.matchOrganizers as item index}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
      {{if matchExt.matchCorganizers.length>0}}
			<div class="direct_box">
				<label class="unit_label">协办单位：</label>
				<ul class="unit_box">
					{{each matchExt.matchCorganizers as item index}}
					<li>{{item}}</li>
					{{/each}}
				</ul>
			</div>
      {{/if}}
		</div>
	</div>
	<div class="detail_common detail_explain">
		<h2 class="mod_h1">比赛说明</h2>
		<div class="basic_message">
			<div class="mask_message">
        {{if matchDetails.details}}
				<div class="remark_box">
					<label class="mask_label">备注：</label>
					<span class="message">
						{{#matchDetails.details}}
					</span>
				</div>
        {{/if}}
				<div class="pic_con slide_box">
					{{if matchExt.matchImages.length>4}}
					<div class="btn_change left_btn">上一页</div>
					<div class="btn_change right_btn">下一页</div>
					{{/if}}
					<div class="pic_content">
						<div class="pic_lists">
							<ul>
								{{each matchExt.matchImages as item index}}
									<li><a href="javascript:void(0)"><img width="100%" src="{{item}}"/></a></li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="space_bottom"></div>