{{each data.list as item index}}
	<tr class="hr_hover">
		<td>{{index+1}}</td>
		<td>
			<!--1：现场广告2：媒体宣传3：商品展示4：活动接待-->
			{{if item.itemType == 1}}
			现场广告
			{{else if item.itemType == 2}}
			媒体宣传
			{{else if item.itemType == 3}}
			商品展示
			{{else if item.itemType == 4}}
			活动接待
			{{/if}}
		</td>
		<td width="500px;">{{item.itemRightsName}}</td>
		<td> 
			<!--0：待执行；1：确认执行；2：执行失败-->
			{{if item.executeStatus == 0}}
			待执行
			{{else if item.executeStatus == 1}}
			确认执行
			{{else if item.executeStatus == 2}}
			执行失败
			{{/if}}
		</td>
	</tr>
{{/each}}