@charset "utf-8";
/*图文资讯*/
.advertising img{
	display:block;
	width:100%;
}
.mit_content {
	font-size: 0px;
	-webkit-text-size-adjust: none;
}

.mit_right {
	width: 286px;
	margin-left: 20px;
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	*display:inline;*zoom:1;
}

.right_content {
	padding: 20px;
	background: #fff;
	border-bottom: 20px solid #f1f2f3
}

.news_commonbox {
	padding: 10px 0;
	border-bottom: 1px solid #f2f2f2;
}

.news_commonbox:hover h4 a {
	color: #3983e5;
}

.mit_graphicnew {
	width: 894px;
	background: #fff;
	display: inline-block;
	font-size: 14px;
	*display:inline;*zoom:1;
}

.mit_inforbox {
	padding: 30px 60px;
	min-height:700px;
}

.infor_subtitle {
	font-size: 16px;
	color: #666666;
	font-weight: normal;
	border-bottom: 2px solid #f2f2f2;
	height: 40px;
	line-height: 40px;
}

.infor_subtitle span {
	float: left;
	cursor: pointer;
	padding: 0 10px;
	display: inline-block;
	margin-right: 22px;
	*display:inline;*zoom:1;
}

.infor_subtitle span:hover,.infor_subtitle span.on {
	border-bottom: 2px solid #00bb90;
	color: #00bb90;
}
.mit_graphicnew .left_graphic{
	width: 160px;
	display: inline-block;
	vertical-align: middle;
	*display:inline;*zoom:1;
}
.mit_graphicnew .left_graphic li{
	height:90px;
}

.mit_graphicnew .left_graphic img {
	display: block;
	width:100%;
	height:100%;
}

.right_inforbox {
	display: inline-block;
	margin-left: 20px;
	vertical-align: top;
	*display:inline;*zoom:1;
}

.right_inforbox h4 {
	font-size: 20px;
	color: #333333;
	padding: 15px 0;
	height:26px;
	width:580px;
	display:block;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;	
}

.textwrap_box {
	padding: 20px 0;
	border-bottom: 1px solid #f2f2f2;
}

.report_box {
	color: #999
}

.report_office span.text {
	color: #666;
	padding-left: 5px;
}

.report_office {
	float: left;
}

.report_office .office_icon {
	width: 11px;
	height: 12px;
	display: inline-block;
	*display:inline;*zoom:1;
}

.report_box .time_reply {
    display: inline-block;
    margin-left: 20px;
    *display:inline;
	*zoom:1;
	font-size: 12px;
}

.report_replybox {
	display: inline-block;
	margin-left: 20px;
	*display:inline;*zoom:1;
	
}

.time_label {
	display: inline-block;
	*display:inline;*zoom:1;
}

.report_likenumber {
	display: inline-block;
	*display:inline;*zoom:1;
	margin-left: 20px;
}

.reply_icon {
	width: 14px;
	height: 14px;
	display: inline-block;
	*display:inline;*zoom:1;
	background: url(../images/sport_other.png) no-repeat;
	background-position: -53px -134px;
	vertical-align: middle;
}

.likenumber_icon {
	width: 14px;
	height: 14px;
	display: inline-block;
	*display:inline;*zoom:1;
	background: url(../images/sport_other.png) no-repeat;
	background-position: -142px -22px;
	vertical-align: middle;
}

.time_reply span.number {
	padding-left: 5px;
}

.report_footer {
	padding: 10px 0 5px;
}

.border0 {
	border: 0;
}
/*图片资讯*/

.picture_newbox h4.title,.article_newbox h4.title {
	padding: 10px 0;
	font-size: 20px;
	color: #333333;
}

.picture_newbox h4 a,.article_newbox h4 a,.right_inforbox h4 a {
	color: #333333;
	display:block;
	height:26px;
	display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;	
}

.picimg_box {
	padding: 10px 0;
	overflow: hidden;
	margin-right: -5px;
	margin-left: -5px;
}

.picimg_box ul li {
	width: 160px;
	float: left;
	padding: 0 5px;
	height:90px;
}
.picimg_box ul li img{
	display:block;
	width:100%;
	height:100%;
}
.picmore_btn {
	width: 135px;
	height: 90px;
	background: #e8e8e8;
	position: relative;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	position: relative;
	*display:inline;*zoom:1;
}

.picmore_btn a.text {
	line-height: 90px;
	color: #3983e5;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.img_accountbox {
	position: absolute;
	right: 5px;
	bottom: 5px;
	background: #454545;
	color: #fff;
	padding: 0 3px;
	border-radius: 3px;
}

.img_accountbox .pic {
	margin-left: 3px;
}

.article_desc {
	line-height: 24px;
	color: #666666;
	padding-bottom: 20px;
}
/*右侧*/
.mit_right .banner_content_r {
	width: 100%;
	background: #fff;
}

.creation a,.teammate a,.competition a {
	display: block;
	height: 60px;
	padding-left: 90px;
	line-height: 60px;
	color: #fff;
	font-size: 20px;
	margin-bottom: 10px;
	border-radius: 6px;
}

.creation a {
	background: #f75e5b;
	position: relative;
}

.creation a:hover {
	background: #eb5754;
}

.creation a i,.teammate a i,.competition a i {
	display: inline-block;
	width: 28px;
	height: 28px;
	line-height: 60px;
	position: absolute;
	top: 20px;
	left: 56px;
	*display:inline;*zoom:1;
}

.creation a i {
	background: url("../images/sport_icon.png") no-repeat -151px -175px;
}

.teammate a i {
	background: url("../images/sport_icon.png") no-repeat -92px -217px;
}

.competition a i {
	background: url("../images/sport_icon.png") no-repeat 0px -229px;
}

.teammate a {
	background: #ffb532;
	position: relative;
}

.teammate a:hover {
	background: #f0a92b;
}

.competition a {
	background: #31c27c;
	position: relative;
}

.competition a:hover {
	background: #01a87c;
}

.title_r {
	height: 40px;
	margin-bottom: 10px;
}

.title_r span {
	display: inline-block;
	line-height: 40px;
	font-size: 18px;
	width: 140px;
	*display:inline;*zoom:1;
}

.title_r span.title_r_star_t {
	width: 100px;
	display: inline-block;
	*display:inline;*zoom:1;
}

.title_r_star {
	display: inline-block;
	*display:inline;*zoom:1;
	width: 26px;
	height: 40px;
	background: url("../images/sport_icon.png") no-repeat -33px -220px;
	margin-right: 10px;
}

.title_r .title_change {
	padding-left: 20px;
	display: inline-block;
	*display:inline;*zoom:1;
	height: 40px;
	line-height: 46px;
	font-size: 12px;
	color: #999;
}

.title_change_p {
	display: inline-block;
	*display:inline;*zoom:1;
	width: 16px;
	height: 16px;
	background: url("../images/sport_icon.png") no-repeat -178px -206px;
	margin-right: 6px;
}

.title_r span.title_r_star_t {
	width: 100px;
	float: left;
	display: inline-block;
	*display:inline;*zoom:1;
}

.title_r_star_list {
	width: auto;
	padding-left: 0;
}

.title_r_star_list li.title_r_star_list_first {
	margin-top: 16px;
}

.title_r_star_list li {
	height: 46px;
	margin-bottom: 16px;
}

.title_r_star_img {
	width: 46px;
	height: 46px;
	margin-right: 10px;
}

.title_r_star_name {
	width: auto;
	max-width: 100px;
}

#exclusive .title_r_star_name:hover {
	color: #00bb90;
}

.title_r_star_name strong {
	display: block;
	font-weight: normal;
	font-size: 12px;
	height: 23px;
}

.title_r_star_name span {
	font-size: 10px;
	display: block;
	height: 23px;
	line-height: 23px;
}

.title_r_star_name span i {
	font-style: normal;
}

.title_r_star_fans {
	height: 46px;
	line-height: 46px;
	text-align: center;
	float: right
}

.title_r_star_fans span {
	display: inline-block;
	width: 50px;
	height: 25px;
	border: 1px solid #e5e5e5;
	font-size: 12px;
	line-height: 25px;
	cursor: pointer;
	border-radius: 3px;
	*display:inline;*zoom:1;
}

.title_r_star_fans span:hover {
	background: #00bb90;
	color: #fff;
}

.title_r_star_fans .star_focus {
	border: 1px solid #00bb90;
	color: #00bb90;
}

.mit_right .likes_r {
	width: 100%;
	margin-bottom: 20px;
	background: #fff;
}

.news_adbox {
	margin-bottom: 20px;
}

.news_original {
	background: #fff;
}

.news_original h4.title {
	font-size: 18px;
	color: #333333;
	font-weight: normal;
	padding-bottom: 5px;
}

.left_img {
	width: 110px;
	display: inline-block;
	*display:inline;*zoom:1;
	height:60px;
}
.left_img  img{
	display:block;
	width:100%;
	height:100%;
	
}
.right_textbox {
	display: inline-block;
	*display:inline;*zoom:1;
	width: 120px;
	margin-left: 10px;
	font-size: 12px;
	color: #999999;
	vertical-align: top;
}
.right_textbox h5 a{
	font-size: 14px;
	color: #333333;
	font-weight: normal;
	height:60px;
	line-height: 60px;	
	width: 120px;
	display:block;
	display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.right_textbox  p {
	line-height: 20px;
}

.original_content {
	padding: 10px 0;
}

.news_more{
	width: 100%;
	height: 40px;
	background: #f1f2f3;
	margin: 20px 0;
	text-align: center;
	line-height: 40px;
	color: #333;
}

.news_more:hover{
	cursor: pointer;
    background: #f0f0f0;
}
.user_box_list{
	margin-bottom: 40px;
	width:246px;
	background:#fff;
	padding:20px 20px 0;	
}
.user_list_title .list_title_icon{
	width:26px;
	height:26px;
	border-radius: 26px;
}
.user_list_title .list_title_icon img{
	display: block;
	width: 100%;
	height:100%;;
	border-radius: 50%;
}
.user_list_title h3{
	float:left;
	line-height: 26px;
	font-size: 18px;
	font-weight: normal;
	margin-left: 10px;
}

.change_data{
	position: relative;
	cursor: pointer;
}
.change_data i{
	display: inline-block;
	position: absolute;
	top:5px;
	left:-20px;
	width: 16px;
	height: 16px;
	background: url("../images/sport_icon.png") no-repeat -178px -206px;
	margin-right: 6px;	
}
.hot_video_list{
	margin-top: 15px;
}
.hot_video_list li{
	margin-bottom: 20px;
}
.hot_video_cover{
	width:110px;
	height:64px;
}
.hot_video_cover img{
	display: block;
	width:100%;
	height:100%;
}
.hot_video_title{
	display: block;
	margin-left: 10px;
	height:64px;
	line-height: 64px;
	width:110px;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    color:#333;
    font-size: 14px;	
}
.hot_video_title:hover{
	color:#00bb90;
}
.mit_graphic .user_box_list {
	margin-bottom: 20px;
    padding: 20px 20px 1px;
}
.mit_graphic .star_user_list{
	background:#fff;
}
.mit_graphic .star_user_list{
	padding:15px 0px 0px;
}
.mit_graphic .user_list_title{
	width:246px;
}
.mit_graphic .star_user_list .star_user_name{
	width:116px;
}
.picimg_box,.left_graphic {
	padding: 10px 0;
	overflow: hidden;
	margin-right: -5px;
	margin-left: -5px;
}

.picimg_box dl dt,.left_graphic dt {
	width: 160px;
	float: left;
	padding: 0 5px;
	height:90px;
}
.picimg_box dl dt img.left_graphic dt img{
	display:block;
	width:100%;
	height:100%;
}
.picmore_btn {
	width: 135px;
	height: 90px;
	background: #e8e8e8;
	position: relative;
	text-align: center;
	display: inline-block;
	margin-left: 5px;
	position: relative;
	*display:inline;*zoom:1;
}

.picmore_btn a.text {
	line-height: 90px;
	color: #3983e5;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
}

.img_accountbox {
	position: absolute;
	right: 5px;
	bottom: 5px;
	background: #454545;
	color: #fff;
	padding: 0 3px;
	border-radius: 3px;
}

.img_accountbox .pic {
	margin-left: 3px;
}

.article_desc {
	line-height: 24px;
	color: #666666;
	padding-bottom: 20px;
}
@media screen and (max-width:1200px) {
	.middle{
		max-width: 1000px;
	}
	.mit_graphicnew{
		width:694px;
	}
	.right_inforbox h4{
		width:380px;
	}
	.picimg_box ul li{
		margin-bottom:10px;
	}
}







