@charset "utf-8";
body {
	background: #f6f7fb;
}

.mit_container .hidden {
	display: none;
}
/*体育达人*/

/*content*/
.mit_sportwrap {
	background: url(../images/sportman_bg.jpg) no-repeat 50% 0;
}

.mit_section {
	background: #fff;
	margin-bottom: 50px;
}

.mit_crumbs {
	padding: 30px 0 20px;
	font-size: 14px;
	font-weight: normal;
	color: #999999;
}

.mit_crumbs span.main_nav {
	color: #3983e5;
}

h2.mit_title {
	height: 52px;
	position: relative;
	font-weight: normal;
}

h2.mit_title .title_bgbox {
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
	border-right: 1px solid #e9e9e9;
	background: #f2f2f2;
	margin-left: 40px;
	height: 52px;
}

.mit_title .type_box {
	width: 244px;
	height: 67px;
	position: absolute;
	top: -15px;
	left: -9px;
	text-align: center;
	line-height: 80px;
	color: #ffffff;
	font-weight: normal;
	font-size: 30px;
	font-style: italic;
}

.players_table {
	padding-left: 220px;
	overflow: hidden;
	font-size: 14px;
}

.players_table li {
	float: left;
	padding: 0 15px;
	height: 50px;
	line-height: 48px;
	border-bottom: 2px solid #f2f2f2;
	cursor: pointer;
	margin-right: 15px;
}

.players_table li:hover,.players_table li.active {
	border-color: #00bb90;
	color: #00bb90;
}

.mit_section .mit_box {
	padding: 20px 54px;
	overflow: hidden;
	border: 1px solid #e9e9e9;
	border-top: 0;
}

.mit_pcontent {
	width: 1092px;
}

.mit_pcontent dl dd {
	padding: 20px 0 20px;
	float: left;
	width: 182px;
}

.mit_cinfor:hover .border_box {
	border-color: #00bb90
}

.mit_cinfor:hover .content_title {
	color: #00bb90
}

.mit_cinfor .border_box {
	width: 102px;
	height: 102px;
	border-radius: 50%;
	border: 1px solid #e7e7e7;
	margin: 0 auto;
	cursor: pointer;
}

.mit_cinfor .img_box {
	width: 90px;
	height: 90px;
	margin: 0 auto;
	margin-top: 5px;
}

.mit_cinfor .img_box img {
	border-radius: 50%;
}

.mit_cinfor .content_title {
	text-align: center;
	padding: 5px 0;
	cursor: pointer;
}

.content_title .text_icon {
	width: 15px;
	height: 17px;
	display: inline-block;
	vertical-align: middle;
	margin-top: -1px;
	*display:inline;*zoom:1;
}

.content_club {
	width: 100%;
	height: 30px;
	text-align: center;
}

.content_club .club_icon_box {
	width: 18px;
	height: 17px;
	display: inline-block;
	background: #00bb90;
	vertical-align: middle;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	*display:inline;*zoom:1;
}

.content_club .club_icon {
	display: block;
	width: 13px;
	height: 12px;
	margin: 0 auto;
	margin-top: 2px;
	vertical-align: middle;
}

.content_club .club_text {
	display: inline-block;
	height: 15px;
	padding: 0 5px;
	border: 1px solid #00bb90;
	color: #00bb90;
	font-size: 11px;
	vertical-align: middle;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	*display:inline;*zoom:1;
}

.mit_slidebtn {
	width: 16px;
	height: 44px;
	position: absolute;
	top: 50%;
	margin-top: -22px;
	cursor: pointer;
}

.prev_slide {
	left: 25px;
}

.prev_slide:hover {
	background-position: -44px -132px;
}

.next_slide {
	right: 25px;
}

.next_slide:hover {
	background-position: -22px -132px;
}

.mit_box .slider_box {
	margin: 0 auto;
}

.slider_box>ul>li {
	display: inline;
	float: left;
}




@media screen and (max-width: 1200px) {
	.mit_container {
		width: 100%;
	}

	.mit_pcontent {
		width: 900px;
	}

	.mit_pcontent dl dd {
		padding: 20px 0 20px;
		width: 150px;
	}

	.players_table {
		padding-left: 180px;
	}

	.players_table li {
		padding: 5px 10px;
		margin-right: 5px;
	}

	.hotlist_wrap {
		width: 340px;
	}

	.mit_gassroot .mit_container {
		width: 1000px;
		margin: 0 auto;
	}

	.hotlist_wrap .table_menu span {
		margin-left: 20px;
		padding: 0 10px;
	}

	.rank_headimg {
		margin: 0 10px;
	}

	.rank_titlebox {
		margin-left: 100px;
	}

	.mit_inforbox {
		padding: 10px;
	}

	.mit_graphic .mit_container {
		width: 1000px;
		margin: 0 auto;
	}

	.mit_graphicnew {
		width: 694px;
	}
}

@media screen and (max-width: 1000px) {
	.mit_container {
		width: 1000px;
	}

	.mit_subnav {
		width: 1000px;
	}

	.mit_sportwrap {
		width: 1000px;
	}
}
