// Color
$color-black: #333;//字体默认色
$color-black-base: #666;//字体色
$color-primary: #24c881;//主题色
$color-success: #13ce66;//成功色
$color-warning: #fd6f01;//警告和金额色
$color-error: #ff4949;//错误色和表单校验错误色
$color-disabled: #eff2f7;//禁用色
$color-sub: #999;//辅助颜色
$color-link: #3983e5;//链接颜色
$color-background: #ebf0f5;//背景颜色
$color-background-base: #f6f6f6;//背景颜色
$color-background-sub: #fafafa;//背景颜色
$color-divider: #f2f2f2;//分割线颜色
$color-white: #fff;//白色
$bg-gray:#fafafa;//灰色

// Border
$border-color-base: #e3e3ec;//边框颜色
$border-color-red: #ff5c5c;//边框红颜色
$border-color-hover: #bfcbd9;//边框hover颜色
$border-radius-base: 3px;//边框圆角
